[Unit]
Description=Squid Discord Bot

[Service]
Type=simple
User=zen
WorkingDirectory=/home/zen/SquidDAODiscordBot
ExecStart=/usr/bin/yarn start
Restart=always

[Install]
WantedBy=multi-user.target
